
@{
    Layout = null;
}
<!DOCTYPE html>
@*<html lang="en">*@
<html class="no-js" lang="zxx">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">*@
    @*<link href="~/Content/Fontawesome/all.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    @*<link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">*@
    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->
    @*<link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    @*<link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">*@
    @*<link href="~/Content/jqvmap.min.css" rel="stylesheet" />*@
    <!-- Theme style -->
    @*<link rel="stylesheet" href="dist/css/adminlte.min.css">*@
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    @*<link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">*@
    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    @*<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">*@
    @*<link href="~/Content/daterangepicker.css" rel="stylesheet" />*@
    <!-- summernote -->
    @*<link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">*@
    <link href="~/Content/summernote-bs4.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        @*<div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/Content/Images/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>*@

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Admin")" class="nav-link font-weight-bold">Trang chủ</a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav nav  ml-auto">
                @*<li>
                        @if (HttpContext.Current.Session["Admin"] == null)
                        {
                            @Html.ActionLink("Đăng nhập", "Login", "Home")
                        }
                        else
                        {
                            <a style="color:black">@Session["Admin"]</a>
                        }
                    </li>
                    <li>
                        @if (HttpContext.Current.Session["Admin"] == null)
                        {

                        }
                        else
                        {
                            @Html.ActionLink("Đăng xuất", "Logout", "Admin")
                        }
                    </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("TrangChu","Admin")" class="brand-link">
                <img src="~/Content/Images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    @if (HttpContext.Current.Session["Admin"] == null)
                    {
                    }
                    else
                    {
                        @*<a style="color:white; font-weight:bold;text-align: center;">Xin chào @Session["Admin"]</a>*@
                        <div class="image">
                            <img src="~/Content/Images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Xin chào @Session["Admin"]</a>
                        </div>
                    }
                </div><!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fa fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            @*<a href="pages/widgets.html" class="nav-link">*@
                            <a href="@Url.Action("TrangChu","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "TrangChu" ? "active" : "")">
                                <i class="nav-icon fa fa-th"></i>
                                <p>
                                    Trang chủ
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("NhaSanXuat","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "NhaSanXuat" ? "active" : "")">
                                <i class="nav-icon fa fa-copy"></i>
                                <p>
                                    Quản lý nhà sản xuất
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSachTaiKhoan","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "DanhSachTaiKhoan" ? "active" : "")">
                                <i class="nav-icon fas fa-user-circle"></i>
                                <p>
                                    Quản lý tài khoản
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSachSanPham","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "DanhSachSanPham" ? "active" : "")">
                                <i class="nav-icon fas fa-boxes"></i>
                                <p>Quản lý sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DoanhThuTheoNam","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "DoanhThuTheoNam" ? "active" : "")">
                                <i class="nav-icon fa fa-chart-pie"></i>
                                <p>Thống kê</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DoiMatKhauAdmin","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "DoiMatKhauAdmin" ? "active" : "")">
                                <i class="nav-icon fas fa-lock"></i>
                                <p>Đổi mật khẩu</p>
                            </a>
                        </li>

                        @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-chart-pie"></i>
                <p>
                    Thống kê
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("DoanhThuTheoNam","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "DoanhThuTheoNam" ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Doanh thu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ThongKeTheoHang","Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ThongKeTheoHang" ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Số lượng</p>
                    </a>
                </li>

            </ul>
        </li>*@
                        <li class="nav-item">
                            @if (HttpContext.Current.Session["Admin"] == null)
                            {

                            }
                            else
                            {
                                @*@Html.ActionLink("Đăng xuất", "Logout", "Admin")*@
                                <a href="@Url.Action("Logout","Admin")" class="nav-link">
                                    <i class="nav-icon fas fa-sign-out-alt"></i>
                                    <p>Đăng xuất</p>
                                </a>
                            }
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <div style="padding:20px;">
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    @*<script src="plugins/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    @*<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- ChartJS -->
    @*<script src="plugins/chart.js/Chart.min.js"></script>*@
    <script src="~/Scripts/Chart.min.js"></script>
    <!-- Sparkline -->
    @*<script src="plugins/sparklines/sparkline.js"></script>*@
    <!--<script src="~/Scripts/sparkline.js"></script>-->
    <!-- jQuery Knob Chart -->
    @*<script src="plugins/jquery-knob/jquery.knob.min.js"></script>*@
    @*<script src="~/Scripts/jquery.knob.min.js"></script>*@
    <!-- daterangepicker -->
    @*<script src="~/Scripts/moment.min.js"></script>*@
    @*Tempusdominus Bootstrap 4*@
    @*<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>*@
    @*<script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>*@
    <!-- Summernote -->
    @*<script src="plugins/summernote/summernote-bs4.min.js"></script>
        <script src="~/Scripts/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        @*<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>*@
    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="dist/js/adminlte.js"></script>*@
    <script src="~/Scripts/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="dist/js/demo.js"></script>*@
    @*<script src="~/Scripts/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="dist/js/pages/dashboard.js"></script>*@
    @*<script src="~/Scripts/dashboard.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>

