@using PhoneStore_MVC.Models;
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{

    var samsung = ViewBag.Samsung;
    IEnumerable<tDienThoaiViewModel> xiaomi = ViewBag.Xiaomi as IEnumerable<tDienThoaiViewModel>;
}

<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left  animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>$1209.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>$824.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>$1849.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="~/Content/HomePage/images/banner/1_1.jpg" alt="" />
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                    <a href="#">
                        <img src="~/Content/HomePage/images/banner/1_2.jpg" alt="" />
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#li-new-product"><span>Iphone</span></a></li>
                        @*<li><a data-toggle="tab" href="#li-bestseller-product"><span>Bestseller</span></a></li>
                            <li><a data-toggle="tab" href="#li-featured-product"><span>Featured Products</span></a></li>*@
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel ">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@Url.Action("ChiTietSanPham","Home",new { id = item.MaDT})">
                                            <img src="@Url.Content("~/PhoneImages/" + item.Anh[0])" />
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.MaNSX</a>
                                                </h5>
                                                <div class="rating-box">
                                                    @*<ul class="rating">
                                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                        <li class="no-star"><i class="far fa-star" aria-hidden="true"></i></li>
                                                    </ul>*@
                                                    <ul class="rating">
                                                        @*@for (int i = 0; i < item.DanhGia; i++)
                                                        {
                                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                        }*@
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="single-product.html">@item.TenDT</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">@Decimal.Truncate(item.Gia[0])</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#" onclick="return AddCart('@item.MaDT','@item.TenDT','@item.Anh[0]','@item.Gia[0]','@item.Mau[0]',this);">Add to cart</a></li>
                                                <li style="display:none" id="quantity_instock">@item.SoLuong[0]</li>
                                                <li><a class="links-details" href="wishlist.html"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter" onclick="return Detail('@item.MaDT',this)"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Begin Li's Static Banner Area -->

        <div class="li-static-banner">
            <div class="container">
                <div class="row">
                    <!-- Begin Single Banner Area -->
                    <div class="col-lg-4 col-md-4 text-center">
                        <div class="single-banner">
                            <a href="#">
                                @*<img src="images/banner/1_3.jpg" alt="Li's Static Banner">*@
                                <img src="~/Content/HomePage/images/banner/1_3.jpg" alt="Li's Static Banner" />
                            </a>
                        </div>
                    </div>
                    <!-- Single Banner Area End Here -->
                    <!-- Begin Single Banner Area -->
                    <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                        <div class="single-banner">
                            <a href="#">
                                @*<img src="images/banner/1_4.jpg" alt="Li's Static Banner">*@
                                <img src="~/Content/HomePage/images/banner/1_4.jpg" alt="Li's Static Banner" />
                            </a>
                        </div>
                    </div>
                    <!-- Single Banner Area End Here -->
                    <!-- Begin Single Banner Area -->
                    <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                        <div class="single-banner">
                            <a href="#">
                                @*<img src="images/banner/1_5.jpg" alt="Li's Static Banner">*@
                                <img src="~/Content/HomePage/images/banner/1_5.jpg" alt="Li's Static Banner" />
                            </a>
                        </div>
                    </div>
                    <!-- Single Banner Area End Here -->
                </div>
            </div>
        </div>
        <!-- Li's Static Banner Area End Here -->
        <!-- Begin Li's Laptop Product Area -->
        <section class="product-area li-laptop-product pt-60 pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Samsung</span>
                            </h2>
                            <ul class="li-sub-category-list">
                                <li class="active"><a href="@Url.Action("Samsung","Home")">View all</a></li>
                                @*<li><a href="shop-left-sidebar.html">Computers</a></li>
                                <li><a href="shop-left-sidebar.html">Electronics</a></li>*@
                            </ul>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                @foreach (var item in samsung)
                                {
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="@Url.Action("ChiTietSanPham","Home",new { id = item.MaDT})">
                                                    @*<img src="images/product/large-size/1.jpg" alt="Li's Product Image">*@
                                                    <img src="@Url.Content("~/PhoneImages/" + item.Anh[0])" />
                                                </a>
                                                <span class="sticker">New</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="shop-left-sidebar.html">@item.MaNSX</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li class="no-star"><i class="far fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="single-product.html">@item.TenDT</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">@Decimal.Truncate(item.Gia[0])</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#" onclick="return AddCart('@item.MaDT','@item.TenDT','@item.Anh[0]','@item.Gia[0]','@item.Mau[0]',this);">Add to cart</a></li>
                                                        <li style="display:none" id="quantity_instock">@item.SoLuong[0]</li>
                                                        <li><a class="links-details" href="wishlist.html"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" onclick="return Detail('@item.MaDT',this)" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Li's Section Area End Here -->
                </div>
            </div>
        </section>
        <!-- Li's Laptop Product Area End Here -->
        <!-- Begin Li's TV & Audio Product Area -->
        <section class="product-area li-laptop-product li-tv-audio-product pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Xiaomi</span>
                            </h2>
                            <ul class="li-sub-category-list">
                                <li class="active"><a href="@Url.Action("Xiaomi","Home")">View all</a></li>
                                @*<li><a href="shop-left-sidebar.html">Sanai</a></li>
                                <li><a href="shop-left-sidebar.html">Meito</a></li>*@
                            </ul>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                @foreach (var item in xiaomi)
                                {
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="@Url.Action("ChiTietSanPham","Home",new { id = item.MaDT})">
                                                    <img src="@Url.Content("~/PhoneImages/" + item.Anh[0])" />
                                                </a>
                                                <span class="sticker">New</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="shop-left-sidebar.html">@item.MaNSX</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                                <li class="no-star"><i class="far fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="single-product.html">@item.TenDT</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">@Decimal.Truncate(item.Gia[0])</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#" onclick="return AddCart('@item.MaDT','@item.TenDT','@item.Anh[0]','@item.Gia[0]','@item.Mau[0]',this);">Add to cart</a></li>
                                                        <li style="display:none" id="quantity_instock">@item.SoLuong[0]</li>
                                                        <li><a class="links-details" href="wishlist.html"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" onclick="return Detail('@item.MaDT',this)" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Li's Section Area End Here -->
                </div>
            </div>
        </section>
        <!-- Li's TV & Audio Product Area End Here -->
        <!-- Begin Li's Static Home Area -->
        <div class="li-static-home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Li's Static Home Image Area -->
                        <div class="li-static-home-image"></div>
                        <!-- Li's Static Home Image Area End Here -->
                        <!-- Begin Li's Static Home Content Area -->
                        <div class="li-static-home-content">
                            <p>Sale Offer<span>-20% Off</span>This Week</p>
                            <h2>Featured Product</h2>
                            <h2>Meito Accessories 2021</h2>
                            <p class="schedule">
                                Starting at
                                <span> $1209.00</span>
                            </p>
                            <div class="default-btn">
                                <a href="shop-left-sidebar.html" class="links">Shopping Now</a>
                            </div>
                        </div>
                        <!-- Li's Static Home Content Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Li's Static Home Area End Here -->

        <br />

        <!-- Begin Quick View | Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" onclick="close();" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area row">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <!-- Product Details Left -->
                                <div class="product-details-left">
                                    <div class="product-details-images slider-navigation-1">

                                    </div>
                                    <div class="product-details-thumbs slider-thumbs-1">

                                    </div>
                                </div>
                                <!--// Product Details Left -->
                            </div>
                            <div class="col-lg-7 col-md-6 col-sm-6">
                                <div class="product-details-view-content pt-60">
                                    <div class="product-info">
                                        <span class="product-details-ref">Code: </span><h2 style="display:inline" id="product_code"></h2><br /><br />
                                        <span class="product-details-ref">Name: </span><h2 style="display:inline" id="product_name"></h2><br /><br />
                                        <span class="product-details-ref">Brand: </span><span class="product-details-ref" id="product_brand"></span>
                                        <span style="display:none" id="product_first_img"></span>
                                        <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li class="no-star"><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li class="no-star"><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li class="review-item"><a href="#">Read Review</a></li>
                                                <li class="review-item"><a href="#">Write Review</a></li>
                                            </ul>
                                        </div>
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2 product_price">Price: </span><span class="new-price new-price-2 product_price" id="product_price"></span>
                                        </div>
                                        <span class="product-details-ref">Products Instock: </span><span class="product-details-ref" id="product_quantity"></span>
                                        <div class="product-desc">
                                            <p>
                                                @*<span>
                    100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum accusamus similique eveniet quia pariatur.
                </span>*@
                                                <!--Thông số sản phẩm-->
                                                <table class="table" width="100%" id="product_details">
                                                    <tbody>
                                                    </tbody>

                                                </table>

                                            </p>
                                        </div>
                                        <div class="product-variants">
                                            <div class="produt-variants-size">
                                                <label>Product Color</label>
                                                <select class="form-control" id="product_color">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="single-add-to-cart">
                                            <form action="#" class="cart-quantity">
                                                <div class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" value="1" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </div>
                                                <button id="btn_addcart" class="add-to-cart" onclick="Test(this);">Add to cart</button>
                                            </form>
                                        </div>
                                        <div class="product-additional-info pt-25">
                                            <a class="wishlist-btn" href="wishlist.html"><i class="far fa-heart" aria-hidden="true"></i>Add to wishlist</a>
                                            <div class="product-social-sharing pt-25">
                                                <ul>
                                                    <li class="facebook"><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                                                    <li class="twitter"><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                                                    <li class="google-plus"><a href="#"><i class="fab fa-google-plus"></i>Google +</a></li>
                                                    <li class="instagram"><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick View | Modal Area End Here -->

@section scripts{
    <script type="text/javascript">
        

        //Lấy thông tin giỏ hàng
        var Cart = [];
        if (sessionStorage.getItem('giohang') === null) {
            //dulieu = sessionStorage.getItem('giohang');
        } else {
            Cart = JSON.parse(sessionStorage.getItem('giohang'));
        }

        function AddCart(masp, tensp, anh, gia, mau, ctl) {
            //console.log(typeof $(ctl).parent().parent().children('#quantity_instock').text());
            var quantity_instock = Number($(ctl).parent().parent().children('#quantity_instock').text());
            if (quantity_instock == 0) {
                alert("Product out of stock");
                return false;
            }
            var sp = 0;
            if (sessionStorage.getItem("sosp") !== null) {
                sp = parseInt(sessionStorage.getItem("sosp"));
            }
            alert('Added to cart');
            console.log(masp, tensp, anh, gia, mau, ctl);
            var i = 0;
            for (; i < Cart.length; i++) {
                if (Cart[i].MaSP == masp && Cart[i].Mau == mau) {
                    Cart[i].Quantity += 1;
                    sp += 1;
                    sessionStorage.setItem("sosp", sp);
                    UpdateCartCount();
                    break;
                }
            }
            // Neu i == cart.length -> vong for tren chua duoc break hoac khong thay phan tu nao thoa man dieu kien
            if (Cart && (Cart.length == 0 || i == Cart.length)) {
                Cart.push({ MaSP: masp, TenSP: tensp, Anh: anh, Gia: Math.floor(gia), Mau: mau, Quantity: 1 });
                sp += 1;
                sessionStorage.setItem("sosp", sp);
                UpdateCartCount();
            }
            console.log('Cart:' + JSON.stringify(Cart));
            if (sessionStorage) {
                sessionStorage.setItem('giohang', JSON.stringify(Cart));
                DisplayMiniCart(true);
            }
            return false;
        }

        function Test(ctl) {
            var sp = 0;
            if (sessionStorage.getItem("sosp") !== null) {
                sp = parseInt(sessionStorage.getItem("sosp"));
            }
            var soluong = $(ctl).parent().children().children().children("input[type=text]").val();
            var soluongconlai = $('.modal-body #product_quantity').text();
            if (Number(soluong) > Number(soluongconlai)) {
                alert('Product out of stock');
                return;
            }
            var tensp = $('.modal-body #product_name').text();
            var masp = $('.modal-body #product_code').text();
            var mau = $('.modal-body #product_color').val();
            var gia = $('.modal-body #product_price').text();
            var anh = $('.modal-body #product_first_img').text();

            console.log("ten:" + tensp + " ma: " + masp + " mau: " + mau + " gia: " + gia +" soluong: "+soluong + " anh: "+anh);

            var i = 0;
            for (; i < Cart.length; i++) {
                if (Cart[i].MaSP == masp && Cart[i].Mau == mau) {
                    Cart[i].Quantity += parseInt(soluong);
                    sp += parseInt(soluong);
                    sessionStorage.setItem("sosp", sp);
                    UpdateCartCount();
                    break;
                }
            }
            // Neu i == cart.length -> vong for tren chua duoc break hoac khong thay phan tu nao thoa man dieu kien
            if (Cart && (Cart.length == 0 || i == Cart.length)) {
                Cart.push({ MaSP: masp, TenSP: tensp, Anh: anh, Gia: gia, Mau: mau, Quantity: parseInt(soluong) });
                sp += parseInt(soluong);
                sessionStorage.setItem("sosp", sp);
                UpdateCartCount();
            }
            console.log('Cart:' + JSON.stringify(Cart));
            if (sessionStorage) {
                sessionStorage.setItem('giohang', JSON.stringify(Cart));
                DisplayMiniCart(true);
            }
            $('.modal').modal('toggle');
            return false;
        }

        function Detail(id, ctl) {
            console.log('Mã ĐT:'+ id);
            $.getJSON('/api/SanPhamAPI/ChiTietSanPham?id=' + id, function (data) {
                console.log(data);
                //console.log(data.TenDT);
                $('#btn_addcart').prop('disabled', false);
                $('.modal-body #product_code').html(data.MaDT);
                $('.modal-body #product_name').html(data.TenDT);
                $('.modal-body #product_brand').html(data.MaNSX);
                $('.modal-body #product_price').html(data.Gia[0]);
                $('.modal-body #product_quantity').html(data.SoLuong[0]);
                //console.log(data.Anh.length);
                var lg_img = '';
                var sm_img = '';
                var color = '';
                $('.modal-body #product_first_img').text(data.Anh[0]);
                for (var i = 0; i < data.Anh.length; i++) {
                    lg_img += '<div class="lg-image"><img src="/PhoneImages/' + data.Anh[i] + '" alt="product image"></div>';
                    sm_img += '<div class="sm-image"><img src="/PhoneImages/' + data.Anh[i] + '" alt="product image"></div>';

                }
                $('.slider-navigation-1').slick('removeSlide', null, null, true);
                $('.slider-thumbs-1').slick('removeSlide', null, null, true);
                $('.modal-body .product-details-images').html(lg_img);
                $('.slider-navigation-1')[0].slick.refresh();
                $('.modal-body .product-details-thumbs').html(sm_img);
                $('.slider-thumbs-1')[0].slick.refresh();

                //Màu sản phẩm
                $('#product_color').html('');
                for (var i = 0; i < data.Mau.length; i++) {
                    //console.log('Màu '+i+data.Mau[i]);
                    color += '<option value ="' + data.Mau[i]+'">' + data.Mau[i] + '</option>';
                }
                $('#product_color').html(color);

                //Đổi giá tiền theo màu
                $('#product_color').on('change', function () {
                    //alert(this.value);
                    $.getJSON('/api/SanPhamAPI/GetProductPrice?id=' + id + '&color=' + this.value, function (data) {
                        //console.log(data[0].DonGiaBan);
                        //console.log(data[0].SoLuong);
                        $('.modal-body #product_price').html(data[0].DonGiaBan);
                        $('.modal-body #product_quantity').html(data[0].SoLuong);
                    });
                });

                //Thông số sản phẩm
                var thongso = '<tr>' +
                    '<td style = "background-color:lightgray; width:100px" >Chip</td >' +
                    '<td>' + data.Chip + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="background-color:lightgray">Ram</td>' +
                    '<td>' + data.Ram + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="background-color:lightgray">Memory</td>' +
                    '<td>' + data.BoNhoTrong + '</td>' +
                    '</tr>' +
                    '<tr> ' +
                    '<td style = "background-color:lightgray" > Battery</td > ' +
                    '<td>' + data.Pin + '</td > ' +
                    '</tr>' +
                    '<tr> ' +
                    '<td style = "background-color:lightgray" > OS</td > ' +
                    '<td>' + data.HeDieuHanh + '</td > ' +
                    '</tr>' +
                    '<tr>' +
                    '<td style = "background-color:lightgray" > Size</td > ' +
                    '<td>' + data.KichThuoc + '</td > ' +
                    '</tr>';
                $('#product_details tbody').html(thongso);
            });
        }



    </script>
}
